{% extends 'base.html.twig' %}

{% block body %}

<h1> Inscrivez vous !</h1>

{{ form_start(form) }}

{{ form_row(form._token) }}

{{ form_row(form.username, {'attr' : {'placeHolder' : "Username"}, 'label' : 'Nom d\'utilisateur' } ) }}
{{ form_errors(form.username) }}

{{ form_row(form.email, {'attr' : {'placeHolder' : "email"}, 'label' : 'Adresse mail'} ) }}
{{ form_errors(form.email) }}

{{ form_row(form.password, {'attr' : {'placeHolder' : "password"}, 'label' : 'Mot de passe' } ) }}
{{ form_errors(form.password) }}

{{ form_row(form.confirmPassword, {'attr' : {'placeHolder' : "Confirm password"}, 'label' : 'Confirmation du mot de passe'} ) }}

<button type="submit" class="btn btn-success"> Valider </button>

{% endblock %}